<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Fiszkę</title>
</head>
<body>
    <h2>Dodaj Fiszkę</h2>
    <form action="../php/add_flashcard.php" method="POST">
        <label for="term">Pojęcie:</label>
        <input type="text" id="term" name="term" required><br><br>

        <label for="definition">Definicja:</label>
        <textarea id="definition" name="definition" required></textarea><br><br>

        <input type="submit" value="Dodaj Fiszkę">
    </form>
</body>
</html>